
<html>
	<head>
		<style type="text/css">
			body{text-align:center;}

			img{
				width: 100px;
				height: 100px
				float:center;
			}

			.btncls{
				background-color:#5587ED;
				border: #5587ED;
				font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
				font-size: 15px;
				color: #fff;
				letter-spacing: 1px;
				padding: 8px 12px;
				font-size: 14px;
				font-weight: normal;

				border-radius: 4px;
				line-height: 1.5;
				text-decoration:none;
			}


		</style>
	</head>
	<body>
		<img src="tracking.png" align="center">

		<h1> Hello. </h1>
		<h3> Click and confirm that you want to sign in to Freight.</h3>
		<h3> This link will expire in five minutes.</h3>
		<br />

		<button class="btncls" onclick="location.href = 'https://www.naver.com'">SIGN IN TO FREIGHT</button>


		<br />
		<br />
		<br />
		<h5> If you are having any issues with your account, </h5>
		<h5> Please don't hesitate to contact us replying to this mail.</h5>
		<h5> Thank you.</h5>


	</body>

</html>

